:root {
	/* Fonts */
	--font: "Montserrat";
	--h-font-size-extra-large: 5rem;
	--h-font-size-large: 3.5rem;
	--h-font-size-medium: 2.75rem;
	--h-font-size-small: 2rem;
	--p-font-size-large: 1.25rem;
	--p-font-size-small: 0.875rem;
	/* Main colors */
	--accent-color: #a600ff;
	--primary-color: #ffffff;
	--secondary-color: #000000;
	/* Other colors */
	--card-background-color: #f5f5f5;
	--section-background-color: #f0f0f0;
}

/* ---------- Global Styles ---------- */

* {
	font-family: var(--font), sans-serif;
}

*, *::after, *::before {
	/* Box Model */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--section-background-color);
}

body::-webkit-scrollbar {
	display: none;
}

a {
	/* Typography */
	text-decoration: none;
	/* Aesthetics */
	color: var(--primary-color);
}

button {
	/* Box Model */
	height: 3rem;
	/* Typography */
	font-size: 1rem;
	font-weight: bold;
	/* Aesthetics */
	background: none;
	border: none;
	border-radius: 2rem;
	color: var(--primary-color);
	/* Interactions */
	cursor: pointer;
}

footer {
	/* Layout */
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	justify-content: center;
	/* Box Model */
	height: 60vh;
	padding: 1.25rem;
	/* Aesthetics */
	background: var(--secondary-color);
	color: gray;
}

h1 {
	font-size: var(--h-font-size-extra-large);
}

h2 {
	/* Typography */
	font-size: var(--h-font-size-large);
	/* Aesthetics */
	color: var(--accent-color);
}

h3 {
	font-size: var(--h-font-size-medium);
}

h4 {
	font-size: var(--h-font-size-small);
}

/* For logo */
h5 {
	/* Aesthetics */
	color: var(--primary-color);
	/* Interactions */
	user-select: none;
}

header {
	/* Layout */
	align-items: center;
	display: flex;
	justify-content: space-between;
	/* Positioning */
	position: sticky;
	top: 0;
	z-index: 999;
	/* Box Model */
	height: 8vh;
	padding: 0 1.5rem;
	/* Aesthetics */
	background: var(--secondary-color);
}

li {
	font-weight: bold;
}

section {
	/* Layout */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* Box Model */
	min-height: 92vh;
	padding: 1.25rem;
	/* Aesthetics */
	background: var(--section-background-color);
	/* Miscellaneous */
	scroll-margin-top: 5rem;
}

span {
	color: var(--accent-color);
}

sub {
	/* Typography */
	font-size: 1rem;
	font-weight: normal;
	vertical-align: 0;
}

/* ---------- Components ---------- */

.section__card {
	/* Layout */
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* Box Model */
	width: 25rem;
	/* Typography */
	text-align: center;
	/* Aesthetics */
	border-radius: 0.5rem;
}

.section__content {
	/* Layout */
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
	/* Box Model */
	margin: auto 0;
}

.section__title {
	/* Layout */
	display: flex;
	flex-direction: column;
	gap: 1rem;
	/* Box Model */
	padding-bottom: 4rem;
	/* Typography */
	text-align: center;
}

.section__title p {
	font-size: var(--p-font-size-large);
}

/* ---------- Specific Styles ---------- */

/* Header */
.header__logo {
	/* Box Model */
	width: 12.5rem;
	/* Typography */
	font-size: 1.25rem;
}

header li {
	/* Layout */
	display: inline-block;
	/* Box Model */
	padding: 0 3rem;
}

.header__buttons-container {
	/* Layout */
	display: flex;
	justify-content: space-between;
	/* Box Model */
	width: 12.5rem;
}

.header__button {
	/* Box Model */
	height: 2.5rem;
	width: 5.625rem;
	/* Aesthetics */
	border-radius: 1rem;
}

/* Sidebar Menu */
.sidebar-menu {
	/* Layout */
	display: flex;
	flex-direction: column;
	gap: 2rem;
	/* Positioning */
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
	/* Box Model */
	height: 100vh;
	width: 20rem;
	/* Aesthetics */
	background: var(--secondary-color);
}

.sidebar-menu__icon {
	display: none;
}

.sidebar-menu__buttons-container {
	/* Layout */
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: center;
	/* Box Model */
	height: 10%;
}

.sidebar-menu__button {
	/* Box Model */
	height: 5rem;
	/* Typography */
	font-size: 1.5rem;
}

/* Home Section */
.home-section {
	justify-content: center;
}

.home__content {
	/* Layout */
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	/* Typography */
	text-align: center;
}

.home__description {
	font-size: var(--p-font-size-large);
}

.home__button {
	/* Box Model */
	width: 8rem;
	/* Aesthetics */
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	color: var(--secondary-color);
}

/* Statistics Section */
.statistics__card {
	/* Layout */
	gap: 2rem;
	/* Box Model */
	height: 25rem;
	width: 30rem;
}

/* Features Section */
.features__card {
	/* Layout */
	gap: 1rem;
	/* Box Model */
	height: 18rem;
}

/* Pricing Section */
.pricing__card {
	/* Layout */
	align-items: flex-start;
	/* Box Model */
	height: 35rem;
	padding: 1.5rem;
	/* Aesthetics */
	background: var(--card-background-color);
	border-radius: 2rem;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.pricing__card-price {
	/* Box Model */
	padding: 2rem 0;
	/* Typography */
	font-size: 2.75rem;
	font-weight: bold;
	/* Aesthetics */
	color: var(--accent-color);
}

.pricing__card-features {
	/* Layout */
	display: flex;
	flex-direction: column;
	gap: 1rem;
	/* Box Model */
	width: 100%;
}

.pricing__card-features p {
	/* Layout */
	align-items: center;
	display: flex;
	gap: 0.5rem;
	/* Typography */
	font-size: var(--p-font-size-small);
}

.pricing__card-button {
	/* Box Model */
	margin-top: auto;
	width: 100%;
	/* Aesthetics */
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	color: var(--secondary-color);
}

/* Reviews Section */
.reviews__card {
	/* Layout */
	align-items: flex-start;
	gap: 1rem;
	justify-content: flex-start;
	/* Box Model */
	min-height: 16rem;
	padding: 1.5rem;
	/* Aesthetics */
	border: 1px solid lightgray;
	border-radius: 2.5rem;
}

.reviews__card-user {
	display: flex;
}

.reviews__card-user img {
	/* Box Model */
	height: 2.75rem;
	width: 2.75rem;
	/* Aesthetics */
	border-radius: 50%;
}

.reviews__card-title {
	/* Layout */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* Box Model */
	padding-left: 1rem;
	/* Typography */
	text-align: left;
}

.reviews__card-title p:first-child {
	font-weight: bold;
}

.reviews__card-title p:last-child {
	/* Typography */
	font-size: var(--p-font-size-small);
	/* Aesthetics */
	color: #808080;
}

.reviews__card-comment {
	text-align: left;
}

/* FAQ Section */
.faq__content {
	/* Layout */
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	/* Box Model */
	margin: auto 0;
	padding: 0 4rem;
}

.faq__content li {
	/* Aesthetics */
	background: var(--card-background-color);
	border-radius: 1rem;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
	list-style: none;
}

.faq__question {
	/* Box Model */
	height: 5rem;
	padding: 1.5rem;
	width: 100%;
	/* Typography */
	font-size: var(--p-font-size-large);
	text-align: left;
	/* Aesthetics */
	color: var(--secondary-color);
}

.faq__answer {
	/* Box Model */
	padding: 1.5rem;
	font-weight: normal;
	/* Aesthetics */
	border-top: 1px solid var(--accent-color);
}

/* Footer Section */
.footer__logo {
	/* Box Model */
	margin-top: auto;
	/* Typography */
	font-size: var(--h-font-size-large);
}

.footer__socials {
	/* Layout */
	display: flex;
	gap: 2rem;
	/* Aesthetics */
	list-style: none;
	/* Interactions */
	cursor: pointer;
}

.footer__copyright {
	/* Box Model */
	margin-top: auto;
	/* Typography */
	font-size: var(--p-font-size-small);
}

/* ---------- Utilities ---------- */

.faq__answer.hide {
	display: none;
}

.faq__answer.show {
	display: block;
}

/* ---------- Modifiers ---------- */

.button--highlighted-1px {
	border: 1px solid var(--accent-color);
}

.button--highlighted-2px {
	border: 2px solid var(--accent-color);
}

.sidebar-menu__button--account {
	/* Box Model */
	width: 8rem;
	/* Typography */
	font-size: 1.25rem;
}

.sidebar-menu__button--closing {
	/* Box Model */
	height: 17rem;
	margin: auto 0;
	/* Typography */
	font-size: 3rem;
}
