/* Variables Declaration */
:root {
	/* Fonts */
	--primary-font: "Montserrat";
	/* Main Colors */
	--accent-color: #a600ff;
	--primary-color: white;
	--secondary-color: black;
	/* Other Colors */
	--body-bg-color: #e1e1e1;
	--section__card--border-color: #ebebeb;  /* TESTING-ONLY, DELETE AFTER */
}

/* General Styling */
* {
	/* Transitions */
	transition: all 300ms ease-in-out;
	/* Typography */
	font-family: var(--primary-font), sans-serif;
}

*, *::after, *::before {
	/* Box Model */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--body-bg-color);
}

body::-webkit-scrollbar {
	display: none;
}

a {
	/* Typography */
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	color: var(--accent-color);
}

button {
	/* Box Model */
	border: none;
	border-radius: 0.5rem;
	/* Typography */
	color: var(--primary-color);
	font-weight: bold;
	/* Visual Styles */
	background: none;
	cursor: pointer;
}

button:hover {
	color: var(--accent-color);
}

footer {
	/* Box Model */
	height: 60vh;
	/* Visual Styles */
	background: var(--secondary-color);
}

header {
	/* Box Model */
	height: 8vh;
	padding: 0 1.5rem;
	/* Layout */
	align-items: center;
	display: flex;
	justify-content: space-between;
	/* Positioning */
	position: sticky;
	top: 0;
	z-index: 9999;
	/* Visual Styles */
	background: var(--secondary-color);
}

li {
	/* Box Model */
	padding: 0 3rem;
	/* Layout */
	display: inline-block;
	/* Typography */
	font-weight: bold;
}

section {
	/* Behavior */
	scroll-margin-top: 5rem; /* TODO - When scrolling up (from FAQ to Home) this is not applied. */
	/* Box Model */
	border-radius: 0.5rem;
	margin: 1.25rem 1.25rem;
	min-height: 88vh;
	padding: 2rem;
	/* Layout */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* Visual Styles */
	background: var(--primary-color);
}

span {
	color: var(--accent-color);
}

/* Buttons Styling */
.account-button__sign-up {
	border: 2px solid var(--accent-color);
}

.account-button__sign-up:hover {
	/* Typography */
	color: var(--primary-color);
	/* Visual Styles */
	background: var(--accent-color);
}

/* Header Styling */
.scroll-down header {
	transform: translate3d(0, -100%, 0);
}

.header__logo {
	/* Box Model */
	width: 12.5rem;
	/* Typography */
	color: var(--primary-color);
	/* Visual Styles */
	cursor: default;
}

.header__buttons-container {
	/* Box Model */
	width: 12.5rem;
	/* Layout */
	display: flex;
	justify-content: space-between;
}

.header__account-button {
	/* Box Model */
	height: 2.5rem;
	width: 5.625rem;
	/* Typography */
	font-size: 1rem;
}

/* Sidebar Menu Styling */
.sidebar-menu {
	/* Box Model */
	height: 100vh;
	width: 20rem;
	/* Layout */
	display: none;
	flex-direction: column;
	gap: 2rem;
	/* Positioning */
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
	/* Visual Styles */
	background: var(--secondary-color);
	box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar-menu__icon {
	display: none;
}

.sidebar-menu__buttons-container {
	/* Box Model */
	height: 10%;
	/* Layout */
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.sidebar-menu__account-button {
	/* Box Model */
	height: 3rem;
	width: 8rem;
	/* Typography */
	font-size: 1.5rem;
}

.sidebar-menu__button {
	/* Box Model */
	height: 5rem;
	/* Typography */
	font-size: 1.5rem;
}

.sidebar-menu__closing-button {
	/* Box Model */
	height: 17rem;
	/* Typography */
	font-size: 3rem;
}

/* Sections Styling */
.section__title {
	/* Box Model */
	padding-bottom: 4rem;
	/* Layout */
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	/* Typography */
	text-align: center;
}

.section__title h2 {
	color: var(--accent-color);
	font-size: 3rem;
}

.section__title p {
	font-size: 1.2rem;
}

.section__content {
	/* Box Model */
	margin: auto 0;
	/* Layout */
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
}

.section__card {
	border: 3px solid var(--section__card--border-color);
	border-radius: 0.5rem;
	width: 25rem;
}

.section__card--statistic {
	height: 25rem;
	width: 30rem;
}

.section__card--feature {
	height: 18rem;
}

.section__card--price {
	height: 40rem;
}

.section__card--review {
	height: 14rem;
}

.section__card--content {
	/* Box Model */
	border: 3px solid var(--section__card--border-color);
	border-radius: 0.5rem;
	height: 35rem;
	margin: 0 auto;
	width: 35rem;
}

/* Home Section Styling */
.home-section {
	/* Layout */
	justify-content: center;
	/* Visual Styles */
	background: url("assets/images/home-section__image.jpg");
	background-size: cover;
}

.home-section__content {
	/* Layout */
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	/* Typography */
	color: var(--primary-color);
	text-align: center;
}

.home-section__title {
	font-size: 5rem;
}

.home-section__description {
	font-size: 1.75rem;
}

.home-section__button {
	/* Box Model */
	height: 3rem;
	width: 8rem;
	/* Visual Styles */
	background: var(--accent-color);
}

.home-section__button:hover {
	color: var(--primary-color);
}

/* Newsletter and Contact Section Styling */
.newsletter-section, .contact-section {
	/* Box Model */
	padding: 2rem;
	/* Layout */
	align-items: center;
	flex-direction: row;
	gap: 2rem;
	justify-content: center;
}

/* Newsletter Section Styling */
.newsletter-section {
	flex-wrap: wrap;
}

/* Contact Section Styling */
.contact-section {
	flex-wrap: wrap-reverse;
}
